.title-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    color: #fff;
  }
  
  .title {
    font-size: 4em;
    margin-bottom: 0.5em;
  }
  
  .subtitle {
    font-size: 2em;
    margin-bottom: 2em;
  }
  
 /* common properties for wizard sprites */
 .wizard-sprite {
  /* Set the size of a single frame here */
  width: 128px;
  height: 128px;
  /* Use transform to scale the sprite */
  transform: scale(2.5);
  position: absolute;
  top: 50%;
  animation: wizard-animation 1s steps(7) infinite;
}

/* fire wizard properties */
.fire-wizard {
  left: 25%;
  background: url("C:\Users\Student\workspace\codecaster\public\img\FireWizard\Idle.png") 0 0;
}

/* lightning wizard properties */
.lightning-wizard {
  right: 25%;
  background: url("C:\Users\Student\workspace\codecaster\public\img\LightningWizard\Idle.png") 0 0;
}

/* animation keyframes */
@keyframes wizard-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -896px 0;
  }
}
  
  
  
  .start-game-button {
    padding: 1em 2em;
    font-size: 1.5em;
    background: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  